
body {
    font-family: Arial, sans-serif;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(242, 252, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.container:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(0, 92, 92);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

fieldset {
    border: 2px solid #52b8e0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

label:hover {
    background-color: #c0edff;
}

input[type="radio"] {
    margin-right: 10px;
}
input[type="text"]{
    border-color:#52b8e0;
    border-radius: 10px;
    height: 20px;
    width: 300px;
}
button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}